
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/sweetalert.css" rel="stylesheet" />

<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
@*<script src="~/Scripts/angular-route.min.js"></script>*@
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>


<script src="~/ScriptsNG/Module/APIModule.js"></script>
<script src="~/ScriptsNG/Service/APIService.js"></script>
<script src="~/ScriptsNG/Controller/APIController.js"></script>
<script src="~/Content/sweetalert.js"></script>
<div ng-app="app" ng-controller="APIController">
    <div class="container-fluid mid-section">
        <!--page starts-->
        <div class="page-caption">
            <h3>API Details</h3>
            <hr />
        </div>
        <div class="container">
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" href="#stkOvrFlw">Stack Overflow</a></li>
                    <li><a data-toggle="pill" href="#Github">GitHub</a></li>
                    <li><a data-toggle="pill" href="#twitter">Twitter</a></li>
                </ul>
                <div class="tab-content">
                    <div id="stkOvrFlw" class="tab-pane fade in active">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">User Name</span>
                                    <input type="text" class="form-control" id="StckUserName" ng-model="StckUserName" />
                                    <span class="input-group-addon" id="validate_StckUserName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="container bottom-clock">
                            <div class="col-sm-6">
                                <button ng-click="LoadStackOverflowApiList()" class="btn btn-primary fine-sub-btn">View</button>
                            </div>
                        </div>
                    </div>
                    <div id="Github" class="tab-pane fade">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">User Name</span>
                                    <input type="text" class="form-control" id="GitUserName" ng-model="GitUserName" />
                                    <span class="input-group-addon" id="validate_GitUserName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="container bottom-clock">
                            <div class="col-sm-6">
                                <button ng-click="LoadGitApiList()" class="btn btn-primary fine-sub-btn">View</button>
                            </div>
                        </div>
                    </div>
                    <div id="twitter" class="tab-pane fade">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">User Name</span>
                                    <input type="text" class="form-control" id="TwitterUserName" ng-model="TwitterUserName" />
                                    <span class="input-group-addon" id="validate_TwitterUserName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="container bottom-clock">
                            <div class="col-sm-6">
                                <button ng-click="LoadTwitterApiList()" class="btn btn-primary fine-sub-btn">View</button>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>                                    
            </div>
    </div>
</div>
